////
/// Site layout
////

.site-container {
  @extend .columns;
  @extend .is-desktop;
  @extend .is-gapless;

  header.site-header {
    @extend .column;
    @extend .is-1-desktop;
    min-width: $navbar-min-width;
  }

  .site-content {
    @extend .column;

    .content {
      * {
        animation: slide-up 400ms ease-in 1 normal forwards;
        opacity: 0;
      }
    }
  }

  footer.site-footer {
    @extend .footer;
    color: $light;
  }
}
