////
/// Responsive navigation code.
////

.site-header > .navbar {
  flex-direction: column;
  height: 100%;

  @include desktop {
    position: fixed !important;
    left: 0;
    top: 0;
    width: $navbar-min-width;

    .navbar-item img {
      padding-top: 1rem;
      padding-bottom: 1rem;
      max-height: none;
    }
  }

  .navbar-menu {
    flex-direction: column;
  }

  .navbar-item {
    transition: color,background-color 0.3s ease;

    &.is-active:hover {
      background-color: $navbar-item-active-background-color;
    }
  }
}
