////
/// Common variables.
////

@import "vendor/sass/utilities/initial-variables";
@import "vendor/sass/utilities/functions";
@import "vendor/sass/utilities/derived-variables";

// Colors
$navbar-item-color: $grey-dark;
$navbar-item-hover-color: $black;
$primary: $turquoise;
$footer-background-color: $dark;

// Typography
