////
/// Common variables.
////

@import "vendor/sass/utilities/initial-variables";
@import "vendor/sass/utilities/functions";
@import "vendor/sass/utilities/derived-variables";

// Colors
$body-background-color: hsl(0, 0, 97%) !default;

$hero-body-blog-background-color: rgba(100, 100, 100, 0.5) !default;

$navbar-background-color: $white !default;
$navbar-item-active-color: $white !default;
$navbar-item-active-background-color: $black !default;
$navbar-item-color: $grey-dark !default;
$navbar-item-hover-color: $black !default;
$navbar-min-width: 12.5%;

$primary: $turquoise !default;

$footer-background-color: $dark !default;

// Typography
