////
/// Common variables.
////

// @import "sass/utilities/initial-variables";
// @import "sass/utilities/functions";
// @import "sass/utilities/derived-variables";

// Colors
$navbar-item-color: $grey-dark;
$navbar-item-hover-color: $black;
$primary: $turquoise;
$footer-background-color: $dark;

// Typography
