<div class="card">
  <!-- Post thumbnail -->
  {% if include.image %}
  <div class="card-image">
    <figure class="image is-2by1">
      <img src="{{ include.image | relative_url }}" alt="Image for {{ include.title }}">
    </figure>
  </div>
  {% endif %}

  <!-- Post details -->
  <section class="card-content">
    <h4 class="title is-4">{{ include.title | upcase }}</h4>
    <time class="subtitle is-6" datetime="{{ include.date | date_to_xmlschema }}">
      {{ include.date | date: "%B %e, %Y" }}
    </time>
    <p>
      {{ include.excerpt | strip_html }}
    </p>
  </section>

  <!-- Tags (if any) -->
  {% if include.tags %}
  <div class="card-content">
    {%- include tags.html tags=include.tags -%}
  </div>
  {% endif %}
</div>
