<header class="site-header">
  <nav class="navbar">
    <!-- Site branding -->
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ "/" | relative_url }}">
        <img src="{{ site.logo | relative_url }}" alt="Logo">
      </a>
      <div class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!-- Navigation links -->
    <div class="navbar-menu" id="navbar-menu-id">
      {% for link in site.data.navigation %}
        {%- if link.url == page.url -%}
          <a class="navbar-item is-active" href="{{ link.url | relative_url }}">{{ link.name }}</a>
        {%- else -%}
          <a class="navbar-item" href="{{ link.url | relative_url }}">{{ link.name }}</a>
        {%- endif -%}
      {% endfor %}
    </div>
  </nav>
</header>
