<header class="site-header">
  <nav class="navbar has-shadow">
    <!-- Site branding -->
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ "/" | relative_url }}">
        <img src="{{ site.logo | relative_url }}" alt="Logo">
      </a>
      <div class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!-- Navigation links -->
    <div class="navbar-menu" id="navbar-menu-id">
      {% for link in site.navigation %}
        {%- assign name = link[0] -%}
        {%- assign url = link[1] -%}

        {%- if url == page.url -%}
          {%- assign active = 'is-active' -%}
        {%- else -%}
          {%- assign active = '' -%}
        {%- endif -%}

        <a class="navbar-item {{ active }}" href="{{ url | relative_url }}">{{ name }}</a>
      {% endfor %}
    </div>
  </nav>
</header>
