<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <meta name="theme-color" content="#485274">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:700">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}{% link /assets/css/syntax.css %}">

  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script src="{{ site.baseurl }}{% link /assets/js/main.js %}"></script>
</head>
