---
layout: default
---


<section class="section">
  <!-- Blog header -->
  <header class="container content">
    {{ content }}
  </header>

  <!-- Posts selection -->
  <div class="section">
    <div class="blog-columns">
      {% for post in site.posts %}
        <div class="blog-column">
          <a href="{{ post.url | relative_url }}">
            {%-
              include blog_card.html
              image=post.image
              title=post.title
              date=post.date
              excerpt=post.excerpt
              tags=post.tags
            -%}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
