---
layout: default
---

<article>
  {%- if page.image -%}
  {%- capture thumbnail -%}hero-body-{{ page.title | slugify }}{%- endcapture -%}
  {%- else -%}
  {%- assign thumbnail = '' -%}
  {%- endif -%}
  <header class="hero is-primary is-large {{ thumbnail }}">
    <div class="hero-post-body">
      <h1 class="title is-size-2-desktop is-spaced">
        {{ page.title }}
      </h1>
      <h4 class="subtitle is-size-4-desktop">
        {% if page.author %}
          {{ page.author }} |
        {% else %}
          {{ site.author }} |
        {% endif %}
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %e, %Y" }}
        </time>
      </h4>
      {% include tags.html tags=page.tags %}
    </div>
  </header>
  <section class="section">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
</article>
